body {
  margin: 0;
  background-color: rgb(121, 117, 117);
  font-family: sans-serif;
  color: rgb(121, 117, 117);
}
.todo-container {
  width: 350px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}
.input-section {
  background-color: rgb(94, 94, 94);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px;
}

.input-section input {
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgb(121, 117, 117);
}
ul {
  text-align: left;
  padding: 0;
}
ul li {
  list-style: none;
  background-color: rgb(94, 94, 94);
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 6px;
  display: flex;
  color: rgb(61, 61, 61);;
}
ul li i {
  cursor: pointer;
  text-align: right;
  flex: 1;
}
